:root {
    --primary-color: #EFCA96;
    --primary-color-low: #FFE4C3;
    --secondary-color: #5E442E;
    --primary-text: #000;
    --primary-text-low: rgba(0, 0, 0, 0.5);
    --secondary-text: #fff;
    --red: #FF0A0A;
    --blue: 3244EF;
    --blue-low: #0476FC;
    --blue-medium: #0476FC;
    --orange: #F27400;
    /* Font */
    --roboto-font: 'Roboto', sans-serif;
    --lora-font: 'Lora', serif;
}

.box {
    background: #FFFFFF;
    box-shadow: inset 4px 4px 3px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.roboto__50px {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */
    text-align: center;
    letter-spacing: 0.04em;
}

.roboto__22px {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
}

.roboto__18px {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
}

.roboto__14px {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.04em;
}

.logo {
    text-align: center;
}

.logo img {
    display: inline-block;
    border: solid 3px black;
    border-radius: 50%;
    background-color: white;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13.7931px;
    gap: 13.79px;
    width: 170px;
    height: 77.59px;
    border-radius: 27.5862px;
}

.button a {
    text-decoration: none;
    color: var(--primary-text);
}


/* Hover */

.hover:hover {
    opacity: 50%;
    cursor: pointer;
}


/* effect */

.blur {
    filter: drop-shadow(-5.51724px 5.51724px 5.51724px rgba(0, 0, 0, 0.25)) drop-shadow(5.51724px 5.51724px 5.51724px rgba(0, 0, 0, 0.52));
}