:root {
    --primary-color: #EFCA96;
    --primary-color-low: #FFE4C3;
    --secondary-color: #5E442E;
    --primary-text: #000;
    --primary-text-low: rgba(0, 0, 0, 0.5);
    --secondary-text: #fff;
    --red: #FF0A0A;
    --blue: 3244EF;
    --blue-low: #0476FC;
    --blue-medium: #0476FC;
    --orange: #F27400;
}