.main {
}
.login {
}
.login__frame {
}
.login__frame .logo {
  display: flex;
  align-items: center;
}
.login__frame .logo img {
  width: 100px;
}
.login__frame .logo p {
  display: inline-block;
}

.login__input {
  display: block;

}
.login__input input{
  width: 100%;
}
.login__forgetPassword {
  display: block;
  width: 100%;
  text-align: right;
  text-decoration: none;
}
.roboto__14px {
}

.hover {
}
.login__button {
}
.login__registry {
}
.login__social {
}
.box {
}
